@import url(theme.css);

/* 메인 CSS 파일에 병합 완료 */

/* 카드 컨테이너 및 배경 이미지 속성 */
.card-container {
  width: 100%;
  height: 100%;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  
  /* 흰색 글자 */
  .white-font {
    color: var(--white);
  }

  /* 검은색 글자 */
  .black-font {
    color: var(--black-200);
  }

/* 카드 요소 배치 */
.card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: var(--large-spacing);
  gap: var(--small-spacing);

  @media (min-width: 1024px) {
    padding-top: var(--extra-large-spacing);
  }

  /* 제품 이름 */
  .product-title {
    font-size: var(--large-text);
    font-weight: 800;

    @media (min-width: 1024px) {
      font-size: var(--extra-large-text);
    }
  }

  /* 제품 슬로건 */
  span {
    line-height: var(--line-normal);
    font-weight: 500;
  }

  .slogan-wrapper {
    font-size: var(--base-text);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @media (min-width: 1024px) {
      font-size: var(--medium-text);
      flex-flow: row nowrap;
      gap: 0.3125rem;
      }
    }
  }

  /* 출시일 공개 문구 */
  .product-release-date {
    font-size: var(--small-text);
    color: var(--gray);
  }

  /* 링크 버튼 */
  .link-button-wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--base-spacing);

    a {
      font-size: var(--xx-small-text);
      padding: var(--x-small-spacing) var(--small-spacing);
      border-radius: 2rem;

      @media (min-width: 1024px) {
        font-size: var(--x-small-text);
      }
    }
  }
}

/* 파란색 링크 버튼 */
.blue-button {
      
  .product-detail {
    background: var(--blue-300);
    border: 1px solid var(--blue-300);
    color: var(--white);

    &:hover {
    background: var(--blue-200);
    border: 1px solid var(--blue-200);
    }
  }
  .product-price {
    color: var(--blue-100);
    border: 1px solid var(--blue-100);

    &:hover {
      background: var(--blue-200);
      border: 1px solid var(--blue-200);
      color: var(--white);
      }
  }
}

/* 검은색 링크 버튼 */
.black-button {
      
  .product-detail {
    background: var(--black-200);
    border: 1px solid var(--black-200);
    color: var(--white);

    &:hover {
    background: var(--black-100);
    border: 1px solid var(--black-100);
    }
  }
  .product-price {
    color: var(--black-200);
    border: 1px solid var(--black-200);

    &:hover {
      background: var(--black-100);
      border: 1px solid var(--black-100);
      color: var(--white);
      }
  }
}